

/* BANNIERE********************************************/
.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #7bebeb;
}
.right-logo {
    display: flex;
    flex-direction: column;
    width: 4%;
}
.right-logo img {
    width: 15%;
    margin-top: 10px;
}
.img {
    border-radius: 2px solid black;
}
.text-center {
    margin-top: 40px;
    color:#000000;
    font-weight: bold;
}
.a11y {
    font-weight: bold;
    font-family: 'KaushScript';
}
.lien {
    margin-top: 40px;
    margin-right: 50px;
    color: black;
}
/*********************FIN BANNIERE*********************************/

/**********************OURSONS*************************************/

/********************** PANIER**************************************/
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.ourson {
    display: flex;
    flex-direction: column;
    margin: 2px;
    background-color: bisque;
    justify-content: space-between;
    border: #CCCC99 8px solid;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 10%;
}
.h3 {
    font-family: 'MonteCarlo';
}
.Name {
    margin-top:25px;
    justify-content: center;
    font-family:'Allison';
}
.img {
    width: 100%;
}


/* RECAPITALTIF COMMANDE*/
#container-recaputilatif-commande {
    display: flex;
    flex-direction: column;
    border: 5px solid burlywood;
    justify-content: center;
    width: 60%;
    margin-left: 200px;
    margin-top: 50px;
}
h5 p {
    text-align: center;
    font-weight: 60px;
}
.lien {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.h2 {
    font-size: 2rem;
}
.div {
    font-size: 1.6rem;
}
#container-produits-panier {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    justify-content: center;
    border: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}
.container-recapitulatif {
    background-color: rgb(194, 197, 6);
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-grow: 1;
    flex-basis: 3rem;
    flex-shrink: 1;
}
.container-montant-total {
    background-color: #45b8e6;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-grow: 1;
    flex-basis: 3rem;
    flex-shrink: 1;
}
.liens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 20px;
    width: 300px;
}
#formulaireCommande {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(194, 197, 6);
    margin-top: 20px;
    margin-left: 250px;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 80px;
    margin-top: 20px;
}
button {
    background-color: #e0e00c;
}
#envoyerFormulaire {
    margin-top: 10px;
}
.h5 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
}
.h4{
    font-weight: bold;
    margin-top: 40px;
} 


.ourson_produit {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    justify-content: space-between;
    border: #CCCC99 8px solid;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
    margin-left: 110px;
}

.finalisation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid #7bebeb;
}
.composants {
    display: flex;
    flex-direction: column;
    border: 3px solid #7bebeb;
}
#option_article {
    margin-bottom: 5px;
    background-color: aqua;
}
.btn-envoyer {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #967007;
    color: #f7f7f0;
    padding-top: 4px;
    padding-bottom: 4px;;
}
.form1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
._id {
    visibility: hidden;
}