@font-face /*charger la police applicable au site */
{
	font-family:'KaushanScript';
	src: url('Police\police/KaushanScript-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face /*charger la police applicable au site */
{
	font-family:'MonteCarlo';
	src: url('Police\police/MonteCarlo-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}