.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #7bebeb;
}
.right-logo {
    display: flex;
    flex-direction: column;
    width: 4%;
}
.right-logo img {
    width: 15%;
    margin-top: 10px;
}
.img {
    border-radius: 2px solid black;
}
.text-center {
    margin-top: 40px;
    color:#000000;
    font-weight: bold;
}
.a11y {
    font-weight: bold;
    font-family: 'KaushScript';
}
.lien {
    margin-top: 40px;
    margin-right: 50px;
    color: black;
}
