.checkout-login .row-account .col-login-checkout {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #adb0b6;
    margin: 0 25px 20px 0;
    padding: 75px 150px;
    width: 100%;
}
checkout-login h2 {
    font-family: latobold,Arial,sans-serif;
    font-size: 1.8rem;
    text-transform: none;
    margin: 0 0 1.4rem;
}
.sub-text-grey {
    margin-bottom: 15px;
}
.bold {
    font-family: latobold,Arial,sans-serif;
}
.checkout-login input[type="radio"] {
    position: relative;
    appearance: none;
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
}
.checkout-login input[type="radio"] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
}
.checkout-login input[type="radio"]::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #0b0b0b;
    background-color: #fff;
    border-radius: 100%;
}
.checkout-login input[type="radio"]::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.form-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.form-submit {
    height: 40px;
    line-height: 39px;
    font-family: latoregular,Arial,sans-serif;
    font-size: 1.3rem;
    display: block;
    color: #fff;
    text-decoration-line: none;
    background-color: #000;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    box-sizing: border-box;
}