.container-fluid {
    padding-top: 10px;
}
.main-msg-wrapper {
    padding: 0 4px;
}
.hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
.checkout-login .row-account {
    padding: 100px 0;
    margin-top: 20px;
}
.row-account {
    display: initial;
}
.button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 10px;
}
.login-checkout {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #adb0b6;
    margin: 0 25px 20px 0;
}
.checkout-login h2 {
    font-family: latobold,Arial,sans-serif;
    font-size: 1.8rem;
    text-transform: none;
    margin: 0 0 1.4rem;
    margin-bottom: 1.4rem;
}
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.checkout-login input {
    margin-bottom: 10px;
    line-height: 30px;
}
.form-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.textfield {
    display: inline-block;
    position: relative;
    background: #fff;
}
.checkout-login input {
    margin-bottom: 10px;
    line-height: 30px;
}
.textfield .button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: latobold,Arial,sans-serif;
    border: none;
    color: #000;
    background: transparent;
    min-width: 4em;
    height: 100%;
    border-radius: 0;
    padding: 0;
    line-height: 2.4em;
}
.form-submit {
    height: 40px;
    line-height: 39px;
    font-family: latoregular,Arial,sans-serif;
    font-size: 1.3rem;
    display: block;
    color: #fff;
    text-decoration-line: none;
    background-color: #000;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
}
.checkout-login .row-account .col-login-checkout {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #adb0b6;
    margin: 0 25px 20px 0;
}
.checkout-login h2 {
    font-family: latobold,Arial,sans-serif;
    font-size: 1.8rem;
    text-transform: none;
    margin: 0 0 1.4rem;
}
.btn.btn-white {
    color: #000;
    background: none;
    border: 1px solid #000;
    display: block;
}