.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.ourson {
    display: flex;
    flex-direction: column;
    margin: 2px;
    background-color: bisque;
    justify-content: space-between;
    border: #CCCC99 8px solid;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 10%;
}
.h3 {
    font-family: 'MonteCarlo';
}
.Name {
    margin-top:25px;
    justify-content: center;
    font-family:'Allison';
}
.img {
    width: 100%;
}


/* RECAPITALTIF COMMANDE*/
#container-recaputilatif-commande {
    display: flex;
    flex-direction: column;
    border: 5px solid burlywood;
    justify-content: center;
    width: 60%;
    margin-left: 200px;
    margin-top: 50px;
}
h5 p {
    text-align: center;
    font-weight: 60px;
}
.lien {
    display: flex;
    justify-content: space-around;
    width: 40%;
}