.h2 {
    font-size: 2rem;
}
.div {
    font-size: 1.6rem;
}
#container-produits-panier {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    justify-content: center;
    border: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}
.container-recapitulatif {
    background-color: rgb(194, 197, 6);
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-grow: 1;
    flex-basis: 3rem;
    flex-shrink: 1;
}
.container-montant-total {
    background-color: #45b8e6;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-grow: 1;
    flex-basis: 3rem;
    flex-shrink: 1;
}
.liens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 20px;
    width: 300px;
}
#formulaireCommande {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(194, 197, 6);
    margin-top: 20px;
    margin-left: 250px;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 80px;
    margin-top: 20px;
}
button {
    background-color: #e0e00c;
}
#envoyerFormulaire {
    margin-top: 10px;
}
.h5 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
}
.h4{
    font-weight: bold;
    margin-top: 40px;
} 

